/* Resetea algunos estilos por defecto */
body, h1, nav, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

/* Estilos para la sección de introducción */
.introduction {
    text-align: center; 
    padding: 20px;     
    background-color: #f5f5f5; 
}

.introduction h1 {
    font-size: 2em; 
    color: white;     
}

/* Estilos para el menú de navegación */
nav {
    background-color: #333; 
    padding: 15px;          
    display: flex;          
    justify-content: center;
}

/* Estilos para los enlaces del menú */
nav a {
    font-size: 1.2em;  
    color: #fff;       
    text-decoration: none; 
    margin: 0 15px;    
}

/* Efecto hover para enlaces del menú */
nav a:hover {
    color: #ffcc00; 
}

/* Agrega un efecto para el elemento activo (opcional) */
nav a.active {
    font-weight: bold; 
    color: #ffcc00;    
}
