/* Estilo general para el cuerpo */
body, h1, nav, a, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818; /* Fondo oscuro */
    color: #e8e8e8; /* Texto claro */
    font-family: 'Arial', sans-serif; /* Fuente legible */
    padding: 20px; /* Espacio alrededor */
    line-height: 1.5; /* Espaciado entre líneas */
}

/* Estilo para el título principal */
h1 {
    text-align: center; /* Centra el texto */
    font-size: 2em; /* Tamaño grande */
    text-transform: uppercase; /* Mayúsculas para estilo Star Wars */
    color: #f0f0f0; /* Texto claro */
    border-bottom: 2px solid #333; /* Borde inferior */
    padding-bottom: 10px; /* Espacio debajo del borde */
    margin-bottom: 20px; /* Espacio debajo del título */
}

/* Estilo para el encabezado */
header {
    background-color: #333; /* Fondo oscuro para el encabezado */
    padding: 10px; /* Espacio interno */
    display: flex; /* Flex para alinear elementos */
    justify-content: space-between; /* Alineación entre elementos */
}



/* Estilo para el menú de navegación */
nav {
    display: flex; 
    text-align: center;
}

nav a {
    color: #f0f0f0; /* Texto claro */
    text-decoration: none; /* Sin subrayado */
    padding: 10px 20px; /* Espacio interno */
    transition: background-color 0.3s; /* Transición suave */
}

nav a:hover {
    background-color: #e74c3c; /* Color rojo al pasar el ratón */
    color: #181818; /* Texto oscuro al pasar el ratón */
}

/* Estilo para la lista de naves espaciales */
#starships-list {
    list-style: none; /* Elimina las viñetas */
    padding: 0; /* Elimina el padding */
    max-width: 600px; /* Ancho máximo para la lista */
    margin: 0 auto; /* Centra la lista */
}

/* Estilo para los elementos de la lista de naves espaciales */
#starships-list li {
    background-color: #2c3e50; /* Fondo oscuro para elementos */
    border: 1px solid #333; /* Borde sutil para separar */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio entre elementos */
    transition: background-color 0.3s; /* Transición suave */
}

#starships-list li:hover {
    background-color: #e74c3c; /* Color rojo al pasar el ratón */
    color: #fff; /* Texto claro en hover */
}

/* Estilo para la imagen en el encabezado (opcional) */
header a img {
    max-width: 100px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción */
}

.navegacion{
    text-align: center;
}

.principal{
    text-align: center;
    justify-content: center;
    
}